@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

h1,
h2 {
  color: var(--text-title-grey) !important; 
}

h1
{
  font-size: 32px !important; 
}

/* DSFR */
.fr-accordion {
  z-index: 10;
}

.fr-alert {
  z-index: 99;
}

.fr-btn--sm[target="_blank"]::after {
  display: none;
}

.fr-checkbox-group {
  user-select: none;
}

.fr-header {
  z-index: 98;
}


/* Since corePlugins: { preflight: false }, borders are not applied by default */
.border-blue {
  border: 1px solid var(--background-action-high-blue-france);
}

.border-bottom-black {
  border-bottom: 1px solid var(--text-title-grey);
}

.border-bottom-grey {
  border-bottom: 1px solid var(--border-default-grey);
}

.border-bottom-grey-large {
  border-bottom: 4px solid var(--border-contrast-grey);
}

.border-left-grey {
  border-left: 1px solid var(--border-default-grey);
}

.border-right-grey {
  border-right: 1px solid var(--border-default-grey);
}

.border-top-grey {
  border-top: 1px solid var(--border-default-grey);
}

.border-grey {
  border: 1px solid var(--border-disabled-grey);
}

.border-open-blue {
  border: 1px solid var(--border-open-blue-france);
}

.border-shadow {
  box-shadow: 0px 2px 6px 0px #00001229;
}

@media (max-width: 767px) {
  .fr-tile__title a::after {
    height: 16px;
    width: 16px;
  }
}
